
<div class="container container-show">

    <div class="d-flex flex-row justify-content-center">
<div class="card show-card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">titre : <%= @item.title %></h2>
    <p class="card-text">description : <%= @item.description %></p>
    <h3 class="card-text">prix : <%= @item.price %> €</h3>
    <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
</div>

</div>